
h1, p {
margin-left: 230px;
max-width: 370px;
	}

	
button{
padding:5px;
margin-top:10px;
	}


#test{
width: 360px;
font-family: 'roboto', sans-serif;
position: absolute;
margin-left: 230px;
font-size: 13px;
}



input[type=text] {
	display:block;
	font-family: 'roboto', sans-serif;
	border: 1px solid #00b4a4;
	width:350px;
	height: 25px;
	color: #b2b2b2;
	margin-top:10px;
	padding-left:10px;
}




textarea {
	width:309px;
	border:1px solid #00b4a4;
	resize:none;
	margin-top:10px;
	color: #b2b2b2;
	font-size: 13px;
	font-family: 'roboto', sans-serif;
	padding-left: 10px;
	height: 150px;
}

button{
	padding:5px;
	margin-top:10px;
	background-color: white;
}


.contact a{
    display: inline-block;
	text-decoration: none;
    color: #bd202e;

	}
	
.contact a:hover {
	color:#bd202e; 
	}


.fb, .twitter, .mail {
	position: absolute;


	}

.fb {
	margin-left: 223px;
	}

.twitter {
	margin-left: 300px;
	}

.mail {
	margin-left: 382px;
}

h2 {

  margin-left: 230px;
  margin-top: 80px;
 }
